body {
  background-image: url('/assets/images/star_background.jpg')
}

table,  {
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

.planetImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#productImage {
  width: 100%;
  overflow:hidden;
}

.product-box {
  width: 33vw;
}

.price {
  font-size: 50px;
}

.planets {
  width: 30%;
  margin: 40px 0px;
}

.products {
  display: flex;
  flex-flow: row wrap;
}

.products-product {
  width: 32vw;
  height: 20vw;
  margin: 10px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

.productTitle {
  text-shadow: #2780e3 2px 2px 2px;
  color: white;
  margin: 0;
}

.cart, .product {
  color: white
}

h1 {
  font-family: "Atomic Age";
  color: white
}

.cart {
  margin-left: 20px;
}

select {
  color: black
}

.form-control {
  width: 50vw
}

.control-label {
  color: white
}