html, body {
  background: black;
}

table {
  color: white;
}

p {
  font-size: 20px;
  color: white;
}

.planetImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.price {
  font-size: 50px;
}

.planets {
  width: 30%;
  margin: 40px 0px;
}

.products {
  display: flex;
  flex-flow: row wrap;
}

.products-product {
  width: 33vw;
  height: 33vw;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

.productTitle {
  text-shadow: #2780e3 2px 2px 2px;
  color: white;
  margin: 0;
}

.form-control {
  width: 50vw
}

.control-label {
  color: white
}